.lightbox {
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lightbox-show {
	width: 100%;
	height: 100%;
	z-index: 100;
	-webkit-transition: opacity .4s ;
	-o-transition: opacity .4s;
	transition: opacity .4s;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
}

#lightbox #image-container {
	gbackground-color: #000;
	position: relative;
	margin: 0 auto;
    padding: 0;
    max-width: 50%;
    max-height: 80%;
    overflow-y: scroll;
}

#lightbox #image-container::-webkit-scrollbar-track {
	background-color: #ccc;
}

#lightbox #image-container::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

#lightbox #image-container::-webkit-scrollbar-thumb {
	background-color: #666;
}

#lightbox .image {
	width: 100%;
	height: 100%;
}

#lightbox #btn-prev, #lightbox #btn-next {
	height: 100%;
	position: absolute;
	z-index: 105;
	font-size: 7em;
	color: #fff;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	border: 0;
	outline: 0;
	-webkit-transition: opacity .3s ease-in-out ;
	-o-transition: opacity .3s ease-in-out ;
	transition: opacity .3s ease-in-out ;
}

#lightbox #btn-prev:hover, #lightbox #btn-next:hover {
	-webkit-transition: opacity .3s ease-in-out ;
	-o-transition: opacity .3s ease-in-out ;
	transition: opacity .3s ease-in-out ;
	opacity: 1;
	cursor: pointer;
}

#lightbox #btn-prev {
	left: 0;
	padding: 0 40px 0 20px; 
	background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0.0));
	background: -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0.0));
	background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.0)); 
}

#lightbox #btn-next {
	right: 0;
	padding: 0 20px 0 40px; 
	background: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.0)));
	background: -webkit-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0.0));
	background: -o-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0.0));
	background: linear-gradient(-90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.0)); 
}

.disable-scroll {   
    overflow-y: hidden;
}

@media only screen and (max-width: 800px) {
	#lightbox #image-container {
		margin: 0 auto;
	    padding: 0;
	    max-width: 85%;
	    max-height: 85%;
	}
}